<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/OWNER/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="amitkuzi" />
            <add key="ClearTextPassword" value="3da206cafbdee1333d67f6100e44cb7f8b6ad221" />
        </github>
    </packageSourceCredentials>
</configuration>